:root{
    --mobile-width:375px;
    --desktop-width:1440px;

    --color-primary:hsl(176, 50%, 47%);
    --color-dark-primary:hsl(176, 72%, 28%);

    --color-neutral:hsl(0, 0%, 0%);
    --color-dark-neutral:hsl(0, 0%, 48%);
    --color-light-neutral: hsl(0, 0%, 97%);

    --font-size: 16px;
    --font-familly: 'Commissioner', sans-serif;
}
*{
        font-size: var(--font-size);
        font-family: var(--font-familly);
        box-sizing: border-box;
}

/***************NavBar******************/
nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 20px;
}
nav #logo{
    font-size: 1.5em;
    font-weight: 700;
    color: white;
}
#menu-trigger{
    display: block;
    -webkit-user-select: none;
    user-select: none;
}
#menu-trigger a {
    text-decoration: none;
    color: var(--color-neutral);
}
#menu-trigger ul{
    display: flex;
    
}
#menu-trigger ul>li{
    list-style-type: none;
    color: white;
    margin: 0px 15px;
}
.icon{
    display:none;
}

/*******************************************/
.container{
    background: #f8f8f8;
}
.hero-banner img {
    height: 300px;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}
#hero-desktop{
    display:block;
}
#hero-mobile{
    display:none;
}

/*******************************************/
.main{
    margin: 0 35px;
}

.card{
    background: white;
    -webkit-box-shadow: 2px 2px 3px 0px rgb(0 0 0 / 40%);
    box-shadow: 2px 2px 3px 0px rgb(0 0 0 / 40%);
    background: white;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    margin: 0 0 25px 0;
}
.card h2{
    font-size: 1.3em;
    font-weight: 700;
    margin: 20px 0;
}
.card p {
    color: var(--color-dark-neutral);
    font-size: 0.9em;
    margin: 20px 0;
    line-height: 1.4rem;
}
.card.main-card {
    position: relative;
    margin-top: -30px;
}
.card.main-card::before{
    content: '';
    background: url(./images/logo-mastercraft.svg) no-repeat center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -50%;
    left: 0;
}
.btn-ctn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
button.btn.large-btn {
    background: var(--color-primary);
    border: 1px solid var(--color-dark-neutral);
    padding: 15px 35px;
    border-radius: 999999px;
    color: white;
    border: none;
}
.btn.round-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    border-radius: 99999px;
}
.btn.round-btn .bookmark{
    background:url(./images/icon-bookmark.svg) no-repeat center;
    padding: 24px;
    border-radius: 50%;
}
.btn.round-btn .bookmark-text{
    color: var(--color-dark-neutral);
    padding: 15px;
    font-weight: 700;
}
/*******************************************/
.card hr{
    box-sizing: content-box;
    height: 1px;
    overflow: visible;
    width: 20%;
    border: none;
    background: #eee;
    margin: 15px 0;
}
.numbers_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.numbers-ctn h3{
    font-size: 1.7em;
    font-weight: 700;
    line-height: 30px;
}
.numbers-ctn span{
    display: block;
    font-size: 0.5em;
    font-weight: 400;
    color:var(--color-dark-neutral);

}
.progress-bar{
    width: 100%;
    height: 10px;
    border-radius: 9999px;
    background: #f1f1f1;
    margin: 15px 0;
}
.progress-input{
    height: 10px;
    width: 77%;
    border-radius: 9999px;
    background: var(--color-primary);
}

/*******************************************/

.about-card, .card > .card{
    text-align: left;
}
.about-card .card{
    box-shadow: none;
    border: 1px solid var(--color-light-neutral);
}
.about-card p+p{
    margin-bottom: 25px;
}

.pricing_card h4{
    margin-bottom: 5px;
}
.pricing_card h5{
    color: var(--color-primary);
    font-weight: 400;
}

.pricing_card .qty-container{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 15px;
}
.pricing_card .qty-container span{
    font-weight: 400;
    font-size: 0.9rem;
    margin-left: 5px;
    color: var(--color-dark-neutral);
}
.disabled{
    opacity: 0.5;
}
button.btn.large-btn.disabled{
    background: var(--color-dark-neutral);
}
/*******************************************/
@media screen and (max-width: 600px) {
    #overlay{
        display:none;
        align-items: center;
        justify-content: center;
        width:100vw;
        height: 100vh;
        opacity: 0.7;
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(204,204,204,1) 100%, rgba(204,204,204,1) 100%);
        position:fixed;  
    }
    li.menu-items:not(:last-child) {
        border-bottom: 1px solid #eee;
    }
    #menu-trigger ul>li  {
        padding: 27px;
        width: 100%;
        font-weight: 700;
        color: var(--color-neutral);
        margin: 0;
    }
    nav a.icon {
      float: right;
      display: block;
    }
    #menu-trigger ul{
        position: absolute;
        top: 60px;
        left: 0;
        width: calc(100vw - 40px);
        background: white;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        margin: 20px;
        padding: 0;
        border-radius: 10px;
    }
    #hero-desktop{
        display:none;
    }
    #hero-mobile{
        display:block;
    }
    /**********************************/

    .btn .bookmark-text{
        display:none;
    }


  }
  @media screen and (max-width: 440px) {
    .btn.round-btn {
        margin-top : 15px;
    }
    .btn-ctn{
        flex-direction: column;
    }
  }
  @media screen and (max-width: 600px) {
    nav.responsive {position: relative;}
    nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }